input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #2c0057 inset !important; /* fundo roxo escuro */
    -webkit-text-fill-color: white !important; /* cor da letra */
    transition: background-color 5000s ease-in-out 0s; /* evita transição de cor indesejada */
}

section.pagina {
    height: 100vh;
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    font-family: 'Open Sans', sans-serif;
}


section.pagina header {
    display: flex;
    height: 60px;
    width: 90%;        
    display: flex;
    align-items: center;
    justify-content: end; 
    max-width: 800px;

}

section.pagina header div label.titulo {
    color: var(--cor-letras);
    font-weight: bold;
    transform: translateY(-4px);
    margin-right: 8px;
           
}


section.pagina header div button.menu {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--borda-roxa);
    background-color: var(--letra-secundaria);
    margin-right: 8px;
    transition: 0.2s;
}

section.pagina header div button.menu:hover {
    background-color: #7d6e9b;
    border: 1px solid #413559;
}

section.pagina header div button span {
    color: white;
    transform: translateY(3px);
}

main {
    margin-top: 60px;
    width: 85%;
    max-width: 800px;
}

main section.Search {
    border: 1px solid var(--borda-roxa);
    border-radius: 20px;
    width: 100%;
    background-color: var(--cor-roxo-claro);
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}

main section.Search div.nome-app {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-top: 10px;
}

main section.Search div.nome-app div.logo p {
    color: var(--cor-letras);
    font-weight: bold;
    font-size: 20px;
    margin-top: 2px;
}

main section.Search div.botao-assinatura button {
    background-color: var(--cor-verde);
    border: 0px solid transparent;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 25px 10px 10px 10px;
    font-size: 14px;        
    color: var(--cor-letra-roxa);
    font-weight: bold;
    border-radius: 10px;       
}

main section.Search div.botao-assinatura button:hover {
    background-color: #a3e539;
}

main section.Search div.consulta {
    display: flex;
    flex-flow: column wrap;
}

main section.Search div.consulta label {
    color: var(--cor-letras);
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    display: inline-block;
    margin: 20px 0px 15px 0px;
}

main section.Search div.consulta input[type="text"] {
    background-color: transparent;
    width: 98%;
    margin: auto;
    border: 1px solid var(--borda-azul);
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-weight: bold;
}

main section.Search div.consulta input[type="text"]:focus {
    outline: 1px solid var(--borda-azul);
    background-color: var(--letra-secundaria);
}

main section.Search div.consulta div.botao-acao {
    margin: 15px 0px 10px 0px;
    display: flex;
    justify-content: end;
}

main section.Search div.consulta div.botao-acao button {
    background-color: var(--cor-azul);
    width: 125px;
    padding: 8px;
    color: var(--cor-principal);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

main section.Search div.consulta div.botao-acao button:hover {
    background-color: #02eaf2;
}

main div.resultados {
    width: 90%;
    margin-bottom: 10px;
}

main div.resultado {
    list-style-type: none;
    border: 1px solid var(--borda-roxa);
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;       
    margin: 10px 0px;
}



    
main div.resultado div.imagem {
    width: 70px;
    text-align: center;
}

main div.resultado div.nome {
    width: calc(100% - 50px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;            
    text-align: start;
}

main div.resultado div.nome p, main div.resultado div.nome h2 {
    width: calc(100% - 15px);
    margin-left: 15px;
}

main div.resultado div.nome h2 {
    transform: translateY(10px);
}


main div.resultado div.imagem {

}